body {
	background: #FFF;
	margin: 0px;
	padding: 0px;
	
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	color: #000;
	font-size: 14px;
	line-height: 21px;
}

/*.magentaSelected {
	border: 5px solid #00FF7F !important;
}*/

h1, h2, h3, h4, h5, h6 {
	margin: 30px 15px;
	padding: 0px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 35px;
}

h5 {
	font-size: 30px;
}

h6 {
	font-size: 25px;
}

input {
	display: block;
	outline: none;
}

button {
	background: #FFF;
	outline: none;
	border: 1px solid #999;
	padding: 15px 30px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background 500ms;
	transition: background 500ms;
}

button:hover {
	background: #FAFAFA;
}

a {
	color: #5A71E9;
	text-decoration: none;
	border-bottom: 1px solid #5A71E9;
	-webkit-transition: color 500ms;
	transition: color 500ms;
}

a:hover {
	color: #6C3DC0;
}

img {
	display: block;
	border: none;
}